//+ main:
.main-margin
    margin: 160px 0 108px

//+ appeal:
.appeal
    display: flex
    justify-content: center
    flex-wrap: wrap
    gap: 28px 70px
    &__information
        height: auto
        max-width: 585px
        font-size: 14px
    &__title
        font-size: 24px
        line-height: 1.5
        text-transform: uppercase
        margin-bottom: 28px
        .accent
            color: #0DB2A2
    &__subtitle
        color: #000
        font-weight: 600
        font-size: 14px
        line-height: 1.5
        text-transform: uppercase
        margin-bottom: 18px
    &__text
        font-size: inherit
        line-height: 1.5
        color: #444
img.img
    width: 100%
    max-width: 515px

//+ media-appeal:
@media (min-width: 630px) and (max-width: 1199px)
    .appeal__information
        text-align: center

//+ media-main:
@media (max-width: 829px)
    .main-margin
        margin-top: 140px