$color-accent: #10c6b4
$text-color: #444
$text-color-white: #fff

.hidden
    display: none

//+ block-style:
.link
    width: 170px
    height: 42px
    display: flex
    justify-content: center
    align-items: center
    color: $text-color-white
    background-color: $color-accent

.accent
    color: #0db2a2

//+ Section beginning:
.beginning
    min-height: 600px
    height: 100vh
    color: $text-color-white
    .container
        height: 100%
        display: flex
        align-items: center
    &__text
        font-size: 16px
    &__main-text
        font-weight: 500
        font-size: 40px
        line-height: 125%
        color: #fff
        margin: 8px 0
.beginning-bg
    background: url(../img/bg-desktop.jpg) center /cover no-repeat
    background-color: #5a5c23